.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rprofile
ARCHIVE*
*pdf
*csv
DataImages
FullProjectionImages*
PDR_MCMC_chain*
References*
Temp_suit_for_Arran
biterate_MCMC_chain*
contexts*
*.png
Data
climate_images_*
Burden_uncertainty_*
Transmission_uncertainty_*
Burden_median_*
Uncertain_projections_*
uncertain_projections.Rmd
GLM_tempsuit_MCMC_chain_*
*.gif
